@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main-color: #0f0f10;
    --second-color: #ff173c;
    --third-color: #e26b3c;
}

html{
    scroll-behavior: smooth;
}

#about-me, #projects{
    scroll-margin-top: 8rem;
}

#skills{
    scroll-margin-top: 3rem;
}

html::-webkit-scrollbar {
    height: 12px; 
    width: 9px;
  }
  
  html::-webkit-scrollbar-track {
    background: #2c2c2e;
  }
  
  html::-webkit-scrollbar-thumb {
    background: var(--second-color); 
  }
  
  html::-webkit-scrollbar-thumb:hover {
    background: var(--second-color); 
  }

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    position: relative;
    overflow-x: hidden;
}

.bg1{
    background-color: var(--main-color);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    background-color: rgba(15, 15, 16, 0.9);
    z-index: 2;
    -webkit-box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
    box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
}

.logo-mobile{
    display: none;
}

.logo{
    width: 208px;
}

.logo img{
    width: 50px;
}

.menu-mobile{
    display: none;
}

.menu-mobile i{
    font-size: 48px;
    color: white;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.menu a.active{
    color: var(--second-color);
    animation: menu .5s forwards;
}

.menu a:hover{
    color: rgb(141, 141, 141);
}

@keyframes menu{
    0%{
        color: white;
    }
    100%{
        color: var(--second-color);
    }
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
    transition: color .5s ease-in-out;
}

.socials{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.socials a i{
    color: var(--second-color);
    background-color: #222229;
    padding: 1rem;
    border-radius: 100%;
    font-size: 20px;
}

.socials a{
    transition: transform .5s ease-in-out;
}

.socials a:hover{
    transform: scale(1.1);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.hero-text{
    color: white;
}

.hero-text h1{
    font-size: 58px;
}

.hero-text h1 span{
    color: var(--second-color);
}

.write{
    border-right: 2px solid black;
    animation: blink 0.7s infinite step-end;
}

.typed-cursor {
    display: none;
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: rgb(255, 255, 255); }
}

.hero-text p{
    padding-top: 1rem;
    max-width: 500px;
    color: #3f3f4b;
}

.hero-text button{
    margin-top: 2rem;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 1rem 3rem;
    cursor: pointer;
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite;
    transition: transform .5s ease-in-out;
}

.hero-text button:hover{
    transform: scale(1.1);
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero-img img{
    max-width: 400px;
}

.about-me{
    padding: 0 10% 15% 10%;
}

.abt-me-tit, .skills-tit, .projects-tit, .contactme-tit {
    display: flex;
    justify-content: center;
    width: 100%;
}

.abt-me-tit h1, .skills-tit h1, .projects-tit h1, .contactme-tit h1{
    color: white;
    font-size: 32px;
    width: auto;
    position: relative;
}

.abt-me-tit h1::after, .skills-tit h1::after, .projects-tit h1::after, .contactme-tit h1::after{
    content: "";
    position: absolute;
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite;
    bottom: -10px;
    width: 100%;
    left: 0;
    height: 3px;
}

.about-me-content{
    padding-top: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-me-img{
    background-color: var(--second-color);
    padding: 1rem;
    border-radius: 25px;
}

.about-me-img img{
    max-width: 400px;
    border-radius: 25px;
}

.about-me-text{
    max-width: 500px;
    color: white;
}

.about-me-text h2{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.about-me-text h2 span{
    font-size: 32px;
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 2s ease infinite;
    font-weight: 700;
    letter-spacing: 1px;
}

.about-me-text p{
    padding: 1rem 0 2rem 0;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #bdbdc5;
}

.soci{
    display: flex;
    gap: 2rem;
}

.soci a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    color: white;
    padding: .5rem;
    font-size: 23px;
    background-color: #222229;
    border-radius: 100%;
    color: var(--second-color);
}

.skills{
    padding: 7rem 10% 0 10%;
    height: auto;
    text-align: center;
}

.skills-content{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 5rem 0 5rem;
    gap: 2rem;
    color: white;
}

.box img{
    width: 50px;
    height: 50px;
} 

.bg{
    width: 30px;
    height: 300px;
    background-color: #282830;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
}

.bg:hover .percent{
    transform: scale(1.05);
}

.bg-percent{
    background-color: #414147;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: end;
}

.percent{
    background-color: var(--second-color);
    height: 40px;
    width: 30px;
    border-radius: 20px;
    transition: transform .5s ease-in-out;
}

.html{
    height: 100%;
}

.css{
    height: 100%;
}

.js{
    height: 67%;
}

.sass{
    height: 63%;
}

.figma{
    height: 80%;
}

.projects{
    padding: 0 10%;
}

.projects-content{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-top: 5rem;
}

.box-projects{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    background-color: #282830;
    padding: 2rem;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    transition: top 1s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: .7;
}

.mouse{
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    background-color: white;
    border-radius: 100%;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
}

.box-projects:hover .overlay {
    top: 0;
}

.box-projects:hover .mouse{
    opacity: 1;
}

.box-projects-text{
    width: 50%;
}

.box-projects-text h2{
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 2s ease infinite;
    font-size: 24px;
    text-transform: uppercase;
}

.box-projects-text p{
    color: #8d8d91;
    font-weight: 800;
    font-size: 14px;
    padding-top: 1rem;
}

.box-projects-text p:nth-child(3){
    font-weight: 400;
}

.box-projects-img{
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    padding: 1rem 2rem;
}

.box-projects-img img{
    max-width: 250px;
}

@media screen and (max-width:768px) {
    .box-projects-img img{
        max-width: 100px;
    }
}

.contactme{
    padding: 8rem 10%;
}

.form{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2rem;
    padding: 5rem 20% 0 20%;
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.form-content label{
    font-weight: 600;
}

.form-content input{
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #3f3f4b;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
}

.form-content input::placeholder{
    position: absolute;
    top: 1rem; 
    transform: translateY(0); 
}

textarea{   
    padding-bottom: 10rem;
    padding: 1rem 1rem 10rem 1rem;
    background-color: #3f3f4b;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}

textarea::placeholder{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.322);
}

.send{
    text-align: center;
    padding-top: 1rem;
}

.send button {
    outline: none;
    border: none;
    background-color: var(--second-color);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 1rem 4rem;
    border-radius: 5px;
    background: linear-gradient(270deg, #ff173c, #d35536, #ff4d6b, #ff173c);
    background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.send button:hover{
    transform: scale(1.1);
}

.form-content input:focus{
    border:2px solid var(--second-color);
    transition: 1s;
}

textarea:focus{
    border:2px solid var(--second-color);
    transition: 1s;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: white;
    padding-bottom: 1rem;
}

.copyright p a{
    color: var(--second-color);
}

.down-up{
    padding-right: 3rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
}

.message{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.message i, .down-up i{
    color: white;
    background-color: #222229;
    padding: 1rem;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    animation: arrowanimation 1s ease-in-out;
}

.language{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    padding-bottom: 2rem;
}

.language-options{
    background-color: #222229;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    display: none;
    cursor: pointer;
}

.language-options a{
    color: white;
    font-weight: 600;
}

#lgOpen{
    color: white;
    border: 2px solid var(--second-color);
    background-color: var(--main-color);
    padding:1rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    gap: 1rem;
    cursor: pointer;
}

.bx-x{
    display: none;
}

.menu-m{
    display: none;
}

@keyframes arrowanimation{
    0%{
        opacity: 0;
    } 
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .bg{
        width: 100%;
    }
    header{
        justify-content: center;
        gap: 50%;
        width: 100vw;
        background-color: var(--main-color);
    }
    .logo{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .logo-mobile img{
        width: 50px;
    }
    .menu-mobile{
        display: block;
        cursor: pointer;
    }
    .menu{
        display: none;
    }
    .socials{
        display: none;
    }
    .hero{
        flex-direction: column;
        padding: 10% 10% 0 10%;
        text-align: center;
        justify-content: center;
        gap: 5%;
    }
    .hero h1{
        font-size: 32px;
    }
    .hero-img img{
        width: 200px;
    }
    .bg-menu-mobile{
        background-color: var(--main-color);
        width: 100vw;
        height: auto;
        position: fixed;
        top: 120.48px;
        z-index: 1;
        display: none;
        text-align: center;
        padding-bottom: 2rem;
        -webkit-box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
        -moz-box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
        box-shadow: 0px 8px 36px -6px rgba(0,0,0,1);
        animation: menuMobile 1s ease-in-out;
    }

    @keyframes menuMobile {
        0%{
            top: -10%;
        }
        100%{
            top: 120.48px;
        }
    }
    @keyframes menuMobileOut{
        0%{
            top: 120.48px;
        }
        100%{
            top: -10%;
        }
    }

    .menu-m{
        display: none;
        grid-template-columns: repeat(3, 1fr);
        margin: 3rem 0 2rem 0;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .menu-m a{
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 14px;
        transition: color .5s ease-in-out;
        flex-wrap: wrap;
    }

    .socials-m{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 26px;
    }

    .socials-m i{
        color: white;
    }

    .about-me-content{
        flex-direction: column;
        gap: 2rem;
        text-align: center
    }

    .about-me-img img{
        width: 200px;
    }
    .soci{
        justify-content: center;
    }
    .projects{
        padding-top: 5rem;
    }
    .projects-content{
        display: flex;
        flex-direction: column;
    }
    .box-projects{
        flex-direction: column;
        padding: 1rem;
    }
    .box-projects-text{
        width: 100%;
    }
    .box-projects-img{
        width: 100%;
        background: none;
    }
    .box-projects-img img{
        max-width: 200px;
    }
    .skills{
        padding: 10rem 10% 0 10%;
    }
    .skills-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .box{
        display: flex;
        text-align: center;
        padding: 0;
    }
    .bg-percent{
        background-color: #414147;
        height: 100%;
        border-radius: 20px;
    }
    .bg{
        width: 100px;
    }
    .percent{
        background-color: var(--second-color);
        height: 40px;
        width: 100px;
        border-radius: 20px;
        transition: transform .5s ease-in-out;
    }
    
    .html{
        height: 100%;
    }
    
    .css{
        height: 100%;
    }
    
    .js{
        height: 67%;
    }
    
    .sass{
        height: 63%;
    }
    
    .figma{
        height: 80%;
    }
}